.todo,
.ghost-todo,
.todo-placeholder {
  width: 100%;
  min-height: 150px;
  background: white;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}

.ghost-todo {
  margin: 0;
}

.todo .todo-center,
.ghost-todo .todo-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
}

.todo section,
.ghost-todo section {
  margin-bottom: 1.5rem;
  line-height: 1.25;
}
