.column {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;

  background-color: #eff1f3;
  box-shadow: #d0d2d4 0 3px 5px;

  .column-header {
    display: flex;
    justify-content: space-between;

    .reset-button-style {
      font-size: 1.5rem;
    }
    .reset-button-style:hover {
      color: red;
    }

    h2 {
      line-height: 1.3rem;
      margin-left: 1rem;
    }
  }

  .column-todo-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0d2d4;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  .column-todos-wrapper {
    height: calc(100% - 20px);
    overflow: auto;
  }
}
