.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 60px;
  padding: 1rem;
  box-sizing: border-box;

  color: white;
  background-color: #45c1bf;

  .logo {
    font-size: 24px;
  }

  button {
    border: none;
    background: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  * {
    font-family: "Jua", sans-serif;
  }
}
