.column {
  width: 330px;
  height: 100%;
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;

  background-color: #eff1f3;
  box-shadow: #d0d2d4 0 3px 5px;

  .column-header {
    display: flex;
    justify-content: space-between;
  }

  .column-todo-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0d2d4;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  .column-todos-wrapper {
    height: calc(100% - 20px - 138px);
    overflow: auto;
  }

  .new-todo-wrapper {
    display: block;
    width: 100%;
    margin: 1rem 0 1rem 0;
    .todo-textarea {
      display: block;
      min-height: 50px;
      width: 100%;
      box-sizing: border-box;
      padding: 0.5rem;
      resize: vertical;
    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
      .button {
        height: 40px;
        width: 47%;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        box-shadow: none;
        border: 0.05rem solid;
        cursor: pointer;
      }
      .todo-add {
        background-color: #94d3a2;
        border-color: #89c396;
        color: white;
      }
      .todo-cancel {
        background-color: #fafbfc;
        border-color: #999999;
      }
    }
  }
}
