.flex {
  display: flex;
}

.margin0 {
  margin: 0;
}

.margin1 {
  margin: 1rem;
}

.margin2 {
  margin: 2rem;
}

.padding0 {
  padding: 0rem;
}

.padding1 {
  padding: 1rem;
}

.padding2 {
  padding: 2rem;
}

.padding3 {
  padding: 3rem;
}
